<div id="id-photo-editor-outer" style="width: 1300px;
        height: 700px;
        visibility: hidden;
        margin: auto;
        padding: 1%;
        background-color: transparent;"
     ng-init="moF={}">
    <style>
        button{
            outline: none;
        }
        .lowerbtn-span{
            margin-left: 5px;
            float: left;
            text-align: center;
        }
        .lowerbtn-icn{
            display: block;
            max-height: 60%;
            float: left;
        }
        .lowerbtn{
            display: block;
            height: 100%;
            min-width: 13%;
            max-width: 25%;
            padding-left: 2%;
            padding-right: 2%;
            float: left;
            background-color: white;
            border: none;
            cursor: pointer;
            user-select: none;
        }
        .lowerbtn:hover{
            background-color: #ecf0f7;
        }
        .pe-left-opt-panel{
            width: 6%;
            float: left;
            height: 100%;
            background-color: #f0f1f3;
            border: 1px solid #ccd5de;
        }
        .pe-left-opt-btn{
            margin: 0;
            padding: 0;
            max-height: 16%;
            border: none;
            width: 100%;
            background-color: #f0f1f3;
            cursor: pointer;
            user-select: none;
        }
        .pe-left-opt-btn-img{
            max-width: 50%;
            margin: 20% 25% 10% 25%;
        }
        .pe-left-opt-btn-txt{
            text-align: center;
            padding: 0;
        }
        .mid-opt-panel{
            float: left;
            height: 100%;
            overflow-y: scroll;
            background-color: white;
            box-shadow: 0 0 2px #888888;
        }
        .filt-range-opt{
            background-color: white;
            margin-top: 5%;
            min-height: 8%;
            margin-left: 2%;
            border: none;
            padding: 0;
            float: left;
            user-select: none;
        }
        .filt-range-title{
            padding: 0;
            border: none;
            color: #191c3f;
            width: 100%;
        }
        .filt-range-inp{
            padding: 0;
            border: none;
            margin-top: 3%;
            width: 100%;
            cursor: pointer;
            outline: none;
        }
        .filt-btn{
            margin: 1%;
            background-color: #0089b7;
            color: white;
            float: left;
            min-height: 10%;
            border: none;
            border-radius: 0;
            padding: 0;
            cursor: pointer;
            user-select: none;
        }
        .savebtn{
            height: 100%;
            width: 10%;
            border-radius: 0;
            border: none;
            padding: 0;
            background-color: #FFFFFF;
            float: right;
            user-select: none;
            cursor: pointer;
        }
        .full{
            width: 100%;
            height: 100%;
        }
        .pe-canvas{
            position: absolute;
            display: none;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            left: 0;
            right: 0;
            top: 0;
        }
        .text-option{
            width: 100%;
            height: 13%;
            margin-top: 5%;
            float: left;
        }
        .text-option-label{
            background-color: white;
            border: none;
            float: left;
            padding: 0;
            margin: 0;
        }
        .text-opt-input{
            background-color: white;
            float: right;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
        .filt-range-inp[type=range] {
            -webkit-appearance: none;
            background-color: #e3e3e3;
            width: 100%;
            height: 5px;
            margin-top:10px;
        }
        .filt-range-inp[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: #f77727;
            opacity: 0.9;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        .inner-opt-panel{
            width: 70%;
            margin: 15% auto;
            height: 70%;
        }
    </style>


    <!--leftmost options list-->
    <div class="pe-left-opt-panel">

        <button class="pe-left-opt-btn"
                id="tab-filters"
                ng-disabled="crSel || !noText"
                ng-click="setOptTab('filters')">
            <img src="images/photo-editor/color-filter.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Filters</p>
        </button>

        <button class="pe-left-opt-btn"
                id="tab-options"
                ng-disabled="crSel || !noText"
                ng-click="setOptTab('options')">
            <img src="images/photo-editor/photo-edit-options.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Options</p>
        </button>

        <button class="pe-left-opt-btn"
                id="tab-crop"
                ng-disabled="crSel || !noText"
                ng-click="setOptTab('crop')">
            <img src="images/photo-editor/photo-crop.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Crop</p>
        </button>

        <button class="pe-left-opt-btn"
                id="tab-text"
                ng-disabled="crSel || !noText"
                ng-click="setOptTab('text')">
            <img src="images/photo-editor/photo-edit-text.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Text</p>
        </button>
    </div>

    <!--dynamic options view-->
    <div ng-style="{ 'width': mdW }"
         class="mid-opt-panel">


        <div ng-if="curOptTab === 'options'"
             class="filt-range-opt"
             ng-style="{'width': isPortrait? '46%':'96%'}"
             ng-repeat="optionName in optionList">

            <span class="filt-range-title">{{title(optionName)}}</span>

            <input class="filt-range-inp"
                   ng-model="optionValues[optionName].value"
                   ng-mouseup="adjust(optionName, true)"
                   type="range"
                   step="1"
                   min="{{ optionValues[optionName].minValue }}"
                   max="{{ optionValues[optionName].maxValue }}"
                   value="{{ optionValues[optionName].value }}">
        </div>


        <button class="filt-btn"
                ng-if="curOptTab === 'filters'"
                ng-disabled="lastAppliedFilter === filterName"
                onmouseenter="this.style.backgroundColor='#3399ff'"
                onmouseleave="this.style.backgroundColor='#0089b7'"
                ng-style="{
                    'width': filtW,
                    'background-color': lastAppliedFilter === filterName?'#f8ad7d':'#0089b7',
                 }"
                ng-click="onFilterApply(filterName)"
                ng-repeat="filterName in filterList">
            {{title(filterName)}}
        </button>

        <div class="full" style="float: left;" ng-if="curOptTab === 'crop'">
            <div class="inner-opt-panel" style="max-height: 70%;">
                <button style="width: 100%;
                    padding: 0;
                    height: 15%;
                    background-color: white;
                    user-select: none;
                    font-size: large;
                    border: none;">Cropped View Here</button>

                <p style="max-width: 100%;
                      max-height: 85%;
                      height: 85%;
                      user-select: none;
                      text-align: center;">
                    <img id="crop-view" src="images/photo-editor/blank.png"
                            style="max-height: 100%; max-width: 100%; padding: 0;">
                    </img>
                </p>
            </div>
        </div>


        <div class="full" style="float: left;"
             ng-if="curOptTab === 'text'">

            <div class="inner-opt-panel">
                <textarea id="id-text-to-add"
                          style="width: 100%; height: 35%; float: left; font-size: large;"
                          placeholder="Your text here..."
                          maxlength="200"></textarea>

                <div class="text-option">

                    <button ng-style="{'width': tolW, 'height': tolH}"
                            class="text-option-label">Choose a font</button>

                    <select ng-style="{'width': toiW, 'height': toiH}"
                            id="id-font" class="text-opt-input">
                        <option ng-repeat="fontName in fonts" value="{{fontName}}">{{fontName}}</option>
                    </select>
                </div>

                <div class="text-option">
                    <button ng-style="{'width': tolW, 'height': tolH}"
                            class="text-option-label">Choose color</button>

                    <input ng-if="html5Color"
                           ng-style="{'width': toiW, 'height': toiH}"
                           id="id-font-color"
                           class="text-opt-input"
                           style="border: none;" type="color" value="#FFF">

                    <select ng-if="!html5Color"
                            id="id-font-color"
                            class="text-opt-input"
                            ng-style="{'width': toiW, 'height': toiH}"
                            onchange="this.style.backgroundColor = this.value"
                            style="background-color: #000;" >
                        <option ng-repeat="color in nonHtml5Colors"
                                ng-style="{ 'background-color': color }"
                                value="{{color}}"></option>
                    </select>
                </div>

                <div class="text-option">
                    <button ng-style="{'width': tolW, 'height': tolH}"
                            class="text-option-label">Choose size</button>

                    <select ng-style="{'width': toiW, 'height': toiH}"
                            id="id-font-size"
                            class="text-opt-input">
                        <option ng-repeat="fontSize in fontSizes" value="{{fontSize}}">{{fontSize}}</option>
                    </select>
                </div>

                <button onmouseenter="this.style.backgroundColor='#ffe247'"
                        onmouseleave="this.style.backgroundColor='#f47727'"
                        ng-click="addtext()"
                        style="min-width: 30%;
                            max-width: 60%;
                            height: 10%;
                            float: right;
                            margin-top: 5%;
                            border: none;
                            color: white;
                            cursor: pointer;
                            background-color: #f47727;">
                    Add Text</button>
            </div>

        </div>

    </div>


    <!--rightmost options-->
    <div ng-style="{ 'width': rdW }"
         style="float: right;
            background-color: white;
            padding: 0;
            height: 100%;">

        <a style="float: right;
            width: 100%;
            height: 3%;
            background-color: #ccd5de;"></a>

        <div style="
            float: right;
            width: 100%;
            height: 88%;
            background-color: #ccd5de;">

            <div ng-style="{'cursor': curOptTab==='crop'?'crosshair':'default' }"
                 style="text-align:center; width:100%; height:100%; position: relative;">

                <img id="photo-edit-canvas-id"
                     crossorigin="anonymous"
                     style="max-height:100%; max-width:100%; user-select: none;">

                <canvas id="offscr-canvas"
                        class="pe-canvas"
                        style="opacity: 0.99; user-select: none;"></canvas>

                <canvas id="text-canvas"
                        class="pe-canvas"
                        style="background-color: transparent; user-select: none;"></canvas>

                <canvas id="loader-canvas"
                        style="opacity: 0.5; z-index: 99999; background-color: #191c3f;"
                        class="pe-canvas"></canvas>
            </div>
        </div>

        <a style="float: right;
            width: 100%;
            height: 3%;
            background-color: #ccd5de;"></a>

        <div style="box-shadow: 0 0 2px #888888; float: right; width: 100%; height: 6%; display: block;">

            <button class="lowerbtn"
                    ng-click="reset()"
                    ng-if="!crSel && noText">
                <img class="lowerbtn-icn" src="images/photo-editor/photo-edit-reset.png"/>
                <span class="lowerbtn-span">Reset</span>
            </button>

            <button class="lowerbtn"
                    ng-if="!crSel && isCropped && noText"
                    ng-click="undoCrop()">
                <img class="lowerbtn-icn" src="images/photo-editor/photo-edit-undo.png">
                <span class="lowerbtn-span">Undo Crop</span>
            </button>

            <button class="lowerbtn"
                    ng-if="!crSel && hasFilter && noText"
                    ng-click="removeFilter()">
                <img class="lowerbtn-icn" src="images/photo-editor/pe-cross.png">
                <span class="lowerbtn-span">Remove Filter</span>
            </button>

            <button class="lowerbtn"
                    ng-if="crSel"
                    ng-click="crop()"
                    style="color: #f47727;">
                <img class="lowerbtn-icn" src="images/photo-editor/photo-crop.png">
                <span class="lowerbtn-span">Crop</span>
            </button>

            <button class="lowerbtn"
                    ng-if="crSel"
                    ng-click="cropCancel()">
                <img class="lowerbtn-icn" src="images/photo-editor/pe-cross.png">
                <span class="lowerbtn-span">Cancel</span>
            </button>

            <button class="lowerbtn"
                    ng-click="rotate()"
                    ng-if="curOptTab!=='crop' && curOptTab!=='text'">
                <img class="lowerbtn-icn" src="images/photo-editor/photo-edit-rotate.png">
                <span class="lowerbtn-span">Rotate</span>
            </button>

            <button class="lowerbtn"
                    ng-click="applyText()"
                    ng-if="curOptTab==='text' && !noText">
                <img class="lowerbtn-icn" src="images/photo-editor/photo-edit-text.png">
                <span class="lowerbtn-span">Apply Text</span>
            </button>

            <button class="lowerbtn"
                    ng-click="clearText()"
                    ng-if="curOptTab==='text' && !noText">
                <img class="lowerbtn-icn" src="images/photo-editor/pe-cross.png">
                <span class="lowerbtn-span">Clear Text</span>
            </button>

            <button class="savebtn"
                    ng-disabled="crSel"
                    onmouseenter="this.style.backgroundColor='#ffe247'"
                    onmouseleave="this.style.backgroundColor='#f47727'"
                    ng-click="save()"
                    style="color: white; background-color: #f47727">
                Save
            </button>

            <button class="savebtn"
                    ng-click="closeRingbox()"
                    onmouseenter="this.style.backgroundColor='lightgray'"
                    onmouseleave="this.style.backgroundColor='white'">
                Cancel
            </button>
        </div>
    </div>

</div>