<div style="width: 90%; height: 90%; padding: 2%; margin: auto; border: 1px solid black;">
    <!--left: canvas and filters-->
    <div ng-style="{ 'width': lW, 'height': lH }" style="float: left;">

        <!--canvas-->
        <div ng-style="{ 'width': cW, 'height': cH }"
             style="float: left; background-color: #15272d;">
            <p style="text-align:center; padding: 3%; width:100%; height:100%;">
                <img id="photo-edit-canvas-id" style="max-height:100%;">
            </p>
        </div>

        <!--filters-->
        <div ng-style="{ 'width': fW, 'height': fH}"
             style="float: left;box-shadow: -1px 0 2px #888888; padding: 1%;">

            <div ng-if="isPortrait" class="row"
                 style="width: 100%; height: 100%; overflow-y: scroll; overflow-x: hidden;">
                <span class="col-md-12 well"
                      ng-click="onFilterApply(filterName)"
                      style="margin-bottom: 5%;
                          padding: 10%;
                          color: white;
                          background-color: #6897bb;
                          border: none;
                          text-align: center;"
                      ng-repeat="filterName in filterList">
                    {{title(filterName)}}
                </span>
            </div>

            <div ng-if="!isPortrait"
                 style="height: 100%;
                 overflow: auto;
                 overflow-y: hidden;
                 white-space: nowrap;">

                <span class="well"
                      ng-repeat="filterName in filterList"
                      ng-click="onFilterApply(filterName)"
                      style="display: inline-block;
                          height: 100%;
                          color: white;
                          margin-right: 1%;
                          padding-left: 4%;
                          border: none;
                          padding-right: 4%;
                          text-align: center;
                          background-color: #6897bb;
                          text-decoration: none">{{title(filterName)}}</span>

            </div>
        </div>
    </div>



    <!--mid: edit options-->
    <div ng-style="{ 'width': mW }"
         style="height: 100%;
                float: left;
                overflow-y: scroll;
                padding: 1%;
                box-shadow: 0 0 2px #888888;">

        <div class="row well"
             style="margin-bottom: 3%;
                    padding: 5%;
                    background-color: white;
                    border-radius: 0%;"
             ng-repeat="optionName in optionList">

            <span class="col-md-8"
                  style="margin-top: 1%;
                        padding: 0%;
                        margin-bottom: 1%;">
                {{title(optionName)}}</span>

            <span class="col-md-4"
                  style="margin-top: 1%;
                        padding: 0%;
                        text-align: right;
                        margin-bottom: 1%;"
            >{{ prog(optionName) }}</span>

            <input class="col-md-12"
                   style="margin-top: 1%;
                        margin-bottom: 1%;
                        padding: 0;"
                   ng-model="optionValues[optionName].value"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="onEdit(optionName)"
                   type="range"
                   min="{{ optionValues[optionName].minValue }}"
                   max="{{ optionValues[optionName].maxValue }}"
                   value="{{ optionValues[optionName].value }}">

        </div>

    </div>



    <!--right: common options-->
    <div style="float: right;
            margin-left: 1%;
            width: 8%;
            height: 100%;
            box-shadow: 0 0 2px #888888;">

        <div style="width: 100%; height: 80%; margin: 0; padding: 1%;" class="row">

            <a href="#" class="col-md-12 well"
               style="border-radius: 0; margin: 0; padding: 0; background-color: white; text-decoration: none;">
                <img src="http://www.iconsplace.com/download/3498db-restart-512.gif"
                     style="max-width: 50%; margin: 20% 25% 10% 25%;">
                <p style="text-align: center; padding: 0;">Reset</p>
            </a>

            <a href="#" class="col-md-12 well"
               style="border-radius: 0; margin: 0; padding: 0; background-color: white; text-decoration: none;">
                <img src="http://www.iconsdb.com/icons/preview/gray/undo-4-xxl.png"
                     style="max-width: 50%; margin: 20% 25% 10% 25%;">
                <p style="text-align: center; padding: 0;">Undo</p>
            </a>

            <a href="#" class="col-md-12 well"
               style="border-radius: 0; margin: 0; padding: 0; background-color: white; text-decoration: none;">
                <img src="http://www.clipartbest.com/cliparts/4ib/oRp/4iboRpXrT.png"
                     style="max-width: 50%; margin: 20% 25% 10% 25%;">
                <p style="text-align: center; padding: 0;">Crop</p>
            </a>

        </div>

        <div style="width: 100%; height: 20%;">

            <button class="well"
                    style="margin: 0;
                    border-radius: 0;
                    width: 100%;
                    height: 50%;">
                Cancel</button>

            <button class="well"
                    style="background-color: #f47727;
                    margin: 0;
                    border-radius: 0;
                    width: 100%;
                    height: 50%;
                    color: white;">Save</button>
        </div>

    </div>
</div>
