<script src="./js/caman.full.min.js"></script>

<style>
    .pe-outer-div {
        width: 90%;
        height: 90%;
        margin: auto;
        padding: 1%;
        border: 1px solid darkgrey;
    }
    .pe-left-opt-panel{
        width: 6%;
        float: left;
        height: 100%;
        border: 1px solid #ccd5de;
    }
    .pe-left-opt-btn{
        border-radius: 0;
        margin: 0;
        padding: 0;
        max-height: 16%;
        background-color: white;
    }
    .pe-left-opt-btn-img{
        max-width: 50%;
        margin: 20% 25% 10% 25%;
    }
    .pe-left-opt-btn-txt{
        text-align: center;
        padding: 0;
    }
    .mid-opt-panel{
        float: left;
        height: 100%;
        padding: 1%;
        overflow-y: scroll;
        box-shadow: 0 0 2px #888888;
    }
    .filt-range-opt{
        background-color: white;
        margin: 2%;
        margin-bottom: 5%;
        margin-top: 4%;
        width: 100%;
        min-height: 8%;
        border: none;
        padding: 0;
        float: left;
    }
    .filt-range-title{
        padding: 0%;
        border: none;
    }
    .filt-range-val{
        padding: 0%;
        text-align: right;
        border: none;
    }
    .filt-range-inp{
        padding: 0;
        border: none;
        margin-top: 3%;
    }
    .filt-btn{
        margin: 1%;
        margin-bottom: 3%;
        box-shadow: 0 0 2px #888888;
        background-color: #0089b7;
        color: white;
        float: left;
        min-height: 7%;
        border: none;
        text-decoration: none;
        text-align: center;
        padding: 0;
    }
    .savebtn{
        height: 100%;
        width: 10%;
        border-radius: 0;
        padding: 0;
        background-color: #FFFFFF;
        float: right;
    }
</style>

<!--outmost div-->
<div class="pe-outer-div">
    <!--leftmost options list-->
    <div class="pe-left-opt-panel">

        <a href="#" class="col-md-12 well pe-left-opt-btn"
           ng-click="setOptTab('filters')" style="text-decoration: none;"
           ng-style="{ 'background-color': curOptTab==='filters'? '#ffedcc' : 'white' }">
            <img src="./images/color-filter.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Filters</p>
        </a>

        <a href="#" class="col-md-12 well pe-left-opt-btn"
           ng-click="setOptTab('options')" style="text-decoration: none;"
           ng-style="{ 'background-color': curOptTab==='options'? '#ffedcc' : 'white' }">
            <img src="./images/photo-edit-options.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Options</p>
        </a>

        <a href="#"
           class="col-md-12 well pe-left-opt-btn"
           ng-click="setOptTab('crop')"
           ng-style="{ 'background-color': curOptTab==='crop'? '#ffedcc' : 'white' }"
           style="text-decoration: none;">
            <img src="./images/photo-crop.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Crop</p>
        </a>

        <a href="#" class="col-md-12 well pe-left-opt-btn" style="text-decoration: none;">
            <img src="./images/photo-edit-rotate.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Rotate</p>
        </a>

        <a href="#" class="col-md-12 well pe-left-opt-btn" style="text-decoration: none;">
            <img src="./images/photo-edit-text.png" class="pe-left-opt-btn-img">
            <p class="pe-left-opt-btn-txt">Text</p>
        </a>

    </div>

    <!--dynamic options view-->
    <div ng-style="{ 'width': mdW }" class="mid-opt-panel">

        <div ng-if="curOptTab === 'options'" class="filt-range-opt"
             ng-style="{'width': isPortrait? '46%':'96%'}" ng-repeat="optionName in optionList">

            <span class="col-md-8 filt-range-title">{{title(optionName)}}</span>

            <span class="col-md-4 filt-range-val">{{ prog(optionName) }}</span>

            <input class="col-md-12 filt-range-inp"
                   ng-model="optionValues[optionName].value"
                   ng-change="onEdit(optionName)"
                   type="range"
                   min="{{ optionValues[optionName].minValue }}"
                   max="{{ optionValues[optionName].maxValue }}"
                   value="{{ optionValues[optionName].value }}">

        </div>

        <button class="well filt-btn"
                ng-if="curOptTab === 'filters'"
                ng-disabled="lastAppliedFilter === filterName"
                ng-style="{
                'width': filtW,
                'background-color': lastAppliedFilter === filterName?'white':'#0089b7',
                'color': lastAppliedFilter === filterName?'black':'white',
                 }"
                ng-click="onFilterApply(filterName)"
                ng-repeat="filterName in filterList">
            <h4>{{title(filterName)}}</h4>
        </button>

        <div ng-if="curOptTab === 'crop'"
             style="width: 100%;">
            <img id="editor-temp-crop-canvas"
                 src="./images/crop-background.png"
                 style="max-height: 50%; width: 100%; height: 30%;
                  min-height: 30%; border: 1px solid grey;">
            <div style="max-height: 15%; width: 100%;">
                <button class="btn"
                        ng-click="crop()"
                        style="margin: auto; float: right;background-color: #f47727; color: white;">Crop</button>
                <button class="btn"
                        ng-click="cropCancel()"
                        style="margin: auto; float: right;">Cancel</button>
            </div>
            <p>{{log}}</p>
        </div>

    </div>

    <!--rightmost options-->
    <div ng-style="{ 'width': rdW }"
         style="float: right;
         height: 100%;">
        <div style="float: right; width: 100%; height: 94%; padding: 2%; background-color: #ccd5de;">
            <p ng-style="{'cursor': curOptTab==='crop'?'crosshair':'default' }"
               style="text-align:center; width:100%; height:100%; position: relative;">
                <img id="photo-edit-canvas-id"
                     style="max-height:100%; max-width:100%;">
                <canvas id="offscr-canvas"
                        style="position: absolute;
                         display: none;
                         margin: auto;
                         opacity: 0.99;
                         z-index: 99999;
                         left: 0;
                         right: 0;
                         top: 0; "></canvas>
            </p>
        </div>
        <div style="box-shadow: 0 0 2px #888888; float: right; width: 100%; height: 6%;">
            <button ng-click="reset()"
                    style="height: 100%; float: left; margin-left: 3%;
                     background-color: white; border: none;">
                <img style="max-height: 60%;" src="./images/photo-edit-reset.png">
                <span>Reset</span>
            </button>

            <button ng-click="undoLast()"
                    style="height: 100%; float: left; margin-left: 3%;
                     background-color: white; border: none;">
                <img style="max-height: 60%;" src="./images/photo-edit-undo.png">
                <span>Undo</span>
            </button>

            <div style="float: left;">
                LOADING: {{isLoading}}
            </div>

            <button class="well savebtn"
                    ng-click="save()"
                    style="background-color: #f47727; color: white;">
                Save
            </button>

            <button class="well savebtn" ng-click="refresh()">
                Cancel
            </button>
        </div>
    </div>

</div>

<img id="testimg">